<<<<<<< HEAD
<h1>UnaGauchada</h1>
	<% gauchadas = Gauchada.all %>
	<% gauchadas.each do |gauchada| %>
		<li>
			<title> <%= link_to gauchada.titulo, gauchada %> </title>
			<style> <%= gauchada.descripcion %> </style>
				<%= link_to "Editar", edit_gauchada_path(gauchada), class: 'btn btn-info btn-sm' %>
				<%= link_to "Eliminar", gauchada, method: :delete, class: 'btn btn-danger btn-sm' %>
		</li>
	<% end %>
	<% if gauchadas.size == 0 %>
		<li> <td colspan="3"> No hay gauchadas </li>
	<% end %>
=======
<h1>Gauchadas#index</h1>
<p>Find me in app/views/gauchadas/index.html.erb</p>
>>>>>>> 9d7bf3d232295e2188d07ee16e1159117379bd66
